.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body.themodal-lock {
  /* when modal is opened we're removing scrollbars from the main content */
  overflow: hidden !important;
}
.themodal-overlay {
  /* overlay will stay fixed and will take all the space available */
  position: fixed;
  top: 0;
  left: 0;
  /* if modal content doesn't fit inside the overlay, display scrollbars */
  overflow: auto;
  /* allow one-finger iPad scrolling */
  -webkit-overflow-scrolling: touch;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.7);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr= #b3ffffff , endColorstr= #b3ffffff )";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= #b3ffffff , endColorstr= @{ieAlphaColour });
  background-image: url(loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  /* fix for iPad glitches */
}
.themodal-overlay > * {
  -webkit-transform: translateZ(0px);
}
.themodal-overlay .themodal {
  display: block;
  position: relative;
  background: #fff;
  width: 900px;
  top: 0;
  margin: 15px auto;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.15);
  color: 0 0 2px 2px rgba(0, 0, 0, 0.15);
}
.themodal-overlay .themodal iframe {
  border: 0;
  width: 100%;
  display: block;
}
.themodal-overlay .themodal .close {
  position: absolute;
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
  right: 15px;
  top: 9px;
  color: #FFF;
  line-height: 1;
}
.themodal-overlay .themodal .close:hover {
  color: black;
}
.themodal-overlay .themodal.loading {
  display: none !important;
}
