
C:\_MY\domains\private.inter-bi.com\app\modules\rapanel\widgets\AdminToolbar\assets>"C:\_MY\domains\!less\tools\\..\node_modules\.bin\node.exe"  "C:\_MY\domains\!less\tools\\..\node_modules\less\bin\lessc" --no-color toolbar.less 
.admin-toolbar {
  font-family: 'Trebuchet MS';
  position: fixed;
  display: none;
  height: 41px;
  width: 100%;
  background: #000;
  z-index: 99999;
}
.admin-toolbar.expanded {
  top: 0;
}
.admin-toolbar .toolbar-toggler {
  position: absolute;
  text-align: center;
  top: 100%;
  text-decoration: none;
  color: #999999;
  text-transform: lowercase;
  font-size: 11px;
  width: 100px;
  background: #000;
  left: 50%;
  margin-left: -50px;
  margin-top: -5px;
  height: 20px;
  line-height: 24px;
  border-radius: 0 0 30px 30px / 1px 1px 15px 15px;
}
.admin-toolbar ul {
  height: 40px;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
  padding-right: 20px;
}
.admin-toolbar ul li {
  display: block;
  padding: 0;
  margin: 0;
  float: left;
  margin-top: 10px;
}
.admin-toolbar ul li a {
  color: #999999;
  text-decoration: none;
  padding: 10px 15px 10px;
}
.admin-toolbar ul li.right {
  float: right;
}
.admin-toolbar ul li.title {
  display: block;
  float: left;
  margin-left: -20px;
  margin-top: 0;
  font-size: 20px;
  font-weight: 200;
  padding: 6px 20px 10px;
}
.admin-toolbar ul li.title a {
  padding: 0;
  margin-left: 20px;
}
.admin-toolbar ul li .status-development {
  background-color: #b94a48;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #ffffff;
  display: block;
  float: right;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 14px;
  line-height: 14px;
  margin-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  text-align: left;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
  vertical-align: baseline;
  white-space: nowrap;
  width: 110px;
}
